body{
    text-align: center;
    background-color: #ced4da;
}
form{

    border: solid 2px black;
    padding:50px 50px 50px 50px;
}
label{
    color: #03045e;
    font-size: 20px;
    margin-right: 50px;
}